{% extends "layout.html" %}
{% block content %}
<h3>Listado de usuarios</h3>
<p class='text-muted'>Lista de todos los usuarios registrados.
  <table class="table-striped" class="table-bordered">
    <tr class="thead-dark">
        <td>ID</td>
        <td>USUARIO</td>
        <td>AUTORIZADO</td>
        <td>FECHA DE CREACION</td>
        <td>VISTO POR ULTIMA VEZ</td>
        <td>EDITAR</td>
        <td>AUTORIZAR</td>
      </tr>
  {% for elem in lista %}
      <tr>
        <td>{{ elem.id }}</td>
        <td>{{ elem.username }}</td>
        <td>{{ elem.autorizado_texto }}</td>
        <td>{{ elem.t_creacion }}</td>
        <td>{{ elem.t_visto }}</td>
        <td><a href="modificarusuario/{{ elem.id }}" class="btn btn-primary">Editar</a></td>
        {% if not elem.autorizado %}
          <td><a href="autorizarusuario/{{ elem.id }}" class="btn btn-info">Autorizar</a></td>
        {% endif %}
      </tr>
  {% endfor %}
  </table>
{% endblock content %}
